
	<li class="nav-item">
				<a href="#" class="nav-link">
					<i class="fa fa-user-plus nav-icon"></i>
					<p>Message Request</p>
				</a>
			</li>
	

			<li class="nav-item">
				<a href="#" class="nav-link">
					<i class="fa fa-tasks nav-icon"></i>
					<p>Message List</p>
				</a>
			</li>
	
	