

<li class="nav-item has-treeview">
	<a href="#" class="nav-link">
		<i class="nav-icon fa fa-grin-tears"></i>
		<p>
			Setting
			<i class="right fa fa-angle-left"></i>
		</p>
	</a>
	<ul class="nav nav-treeview">

	
		{% if is_granted("SUPER_ADMIN") %}
			<li class="nav-item">
				<a href="#" class="nav-link">
					<i class="fa fa-user-plus nav-icon"></i>
					<p>Code Snippet</p>
				</a>
			</li>
		{% endif %}
		
	



	</ul>
</li>

