{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}
{% block maintitle %}Welcome!{% endblock %}

{% block body %}


<div class="example-wrapper">
   
   <center> <h1>Welcome To Organ Donation Management System! ✅</h1>

{% if not app.user %}
    
   <a class="btn btn-info px-5" href="{{path('app_login')}}">Login</a>
{% endif %}
   </center>
   
</div>
{% endblock %}
