{% extends 'base.html.twig' %}

{% block title %}Edit Organ Type{% endblock %}
{% block maintitle %}Edit Organ Type{% endblock %}

{% block body %}
    <div class="card">

		<div class="card-header">
			<a class="btn btn-primary " href="{{ path('organ_type_index') }}">Back</a>
			
			<div class="card-tools"></div>
		</div>
		<div class="card-body">

    {{ include('organ_type/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('organ_type/_delete_form.html.twig') }}
{% endblock %}
