{% extends 'base.html.twig' %}

{% block title %}Edit Recipient{% endblock %}

{% block body %}
    <h1>Edit Recipient</h1>

    {{ include('recipient/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('recipient_index') }}">back to list</a>

    {{ include('recipient/_delete_form.html.twig') }}
{% endblock %}
